<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
  <%- include('partials/navbar', {page:''}) %>

    <div class="hero  ">
        <div class="hero-content flex-col lg:flex-row">
          <img
            src="https://media.giphy.com/media/xTiN0L7EW5trfOvEk0/giphy.gif?cid=790b7611ipvxrfmo4ixcewyjkqvb2tvlui68zg6icddedhcc&ep=v1_gifs_search&rid=giphy.gif&ct=g"
            class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="align-middle text-5xl font-bold">Error 404!</h1>
            <p class="py-6">
                <%=message%>
            </p>
          </div>
        </div>
      </div>
</body>
</html>