<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Lego Collection</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a class="active" href="/about">About</a></li>
        <li>
          <details class="relative z-50">
            <summary>Theme</summary>
            <ul class="bg-base-100 rounded-t-none p-2 z-50">
              <li> <a href="/lego/sets?theme=Video Games">Video Games</a></li>
              <li> <a href="/lego/sets?theme=Bionicle">Bionicle</a></li>
              <li> <a href="/lego/sets?theme=Creator">Creator</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>





    <div class="hero  ">
        <div class="hero-content flex-col lg:flex-row">
          <img
            src="https://media.giphy.com/media/xTiN0L7EW5trfOvEk0/giphy.gif?cid=790b7611ipvxrfmo4ixcewyjkqvb2tvlui68zg6icddedhcc&ep=v1_gifs_search&rid=giphy.gif&ct=g"
            class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="align-middle text-5xl font-bold">Error 404!</h1>
            <p class="py-6">
                Page Not Found
            </p>
          </div>
        </div>
      </div>
</body>
</html>